.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	& .firstColor {
		position: absolute;
		width: 100%;
		height: 100%;
		background: #ff359b;
		filter: blur(300px);
	}
}

.formContainer {
	height: 100vh;
	width: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
